@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$primary: #7a185a;
$lightGrey: #e4ecfd;
$theme-colors: (
    "primary": $primary,
    "light-grey": $lightGrey,
    "dark": rgb(0, 0, 0)
);

$border-radius: 6px;



@import "bootstrap/scss/bootstrap";

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}


.navbar {
    height: 83px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;

    padding: 0 1rem;

    .container-fluid,
    .row,
    .col,
    .col-auto {
        height: 100%;
    }

    .navbar-nav {
        height: 100%;
        display: flex;
        align-items: center;

        a {
            color: #fff;
            height: 100%;
            border-bottom: 4px solid transparent;
            padding: 0 1rem;
            text-decoration: none;
            position: relative;

            &:hover,
            &.active {
                border-bottom: 4px solid #fff;
                color: #fff;
            }

            div {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
            }
        }


    }

}

.page-content {
    margin-top: 83px;
}

.map-container {
    position: relative;
    height: calc(100vh - 83px);
}

.panel {
    z-index: 9999;
    position: absolute;
    top: 20px;
    right: 5%;
    max-height: 90%;
    background-color: #fff;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    header {
        background: #1C1C1C;
        color: #fff;
        padding: 20px;
        border-radius: 10px 10px 0 0;

        h2 {
            font-size: 20px;
            font-weight: 700;
            margin: 0;
        }

    }

    .accordion-button:not(.collapsed) {
        background: #fff;
        outline: none;
    }

    footer {
        background: #fff;
        color: #fff;
        padding: 10px 20px;
        border-radius: 0 0 10px 10px;

        a {
            color: $primary;
            text-decoration: none;
            font-size: 12px;
        }
    }

    .accordion {
        --bs-accordion-btn-focus-box-shadow: 0 0 0 0 transparent;
    }

    .panel-row {
        padding: 2px 0 2px 12px;
    }

}

.home-breadcrumbs .breadcrumbs {
    z-index: 9999;
    position: absolute;
    top: 10px;
    left: 5%;
}


.home-breadcrumbs .breadcrumbs ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.home-breadcrumbs .breadcrumbs ul li {
    position: relative;
    background: #fff;
    color: #333;
    padding: 5px 20px 5px 20px;
    margin-left: -11px;
    display: flex;
    align-items: center;
    z-index: 1;
    font-weight: 500;
    cursor: pointer;
}

.home-breadcrumbs .breadcrumbs ul li:first-child {
    border-radius: 5px 0 0 5px;
}

.home-breadcrumbs .breadcrumbs ul li::before {
    content: "";
    position: absolute;
    left: -1px;
    top: 0;
    width: 10px;
    height: 100%;
    background: #fff;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    z-index: 2;
}

.home-breadcrumbs .breadcrumbs ul li::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 0;
    width: 10px;
    height: 100%;
    background: inherit;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    z-index: 2;
}

.home-breadcrumbs .breadcrumbs ul li:first-child {
    margin-left: 0;
    padding-left: 20px;
   
}

.home-breadcrumbs .breadcrumbs ul li:first-child::before {
    display: none;
}

.home-breadcrumbs .breadcrumbs ul li:last-child {
    background: #7a185a;
    color: #fff;
    z-index: 3;
    border-radius: 0 5px 5px 0;
}

.home-breadcrumbs .breadcrumbs ul li:first-child:last-child {
    border-radius: 5px;
}

.home-breadcrumbs .breadcrumbs ul li:last-child::after {
    background: #7a185a;
    display: none;
}

.dashboard-breadcrumbs .breadcrumbs ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dashboard-breadcrumbs .breadcrumbs ul li {
    display: inline;
}

.dashboard-breadcrumbs .breadcrumbs ul li:hover span{
    cursor: pointer;
    text-decoration: underline;
}

.dashboard-breadcrumbs .breadcrumbs ul li::after {
    content: ">";
    margin: 0 10px;
}


.dashboard-breadcrumbs .breadcrumbs ul li:last-child::after {
    content: "";
}



.search-box {
    z-index: 9999;
    position: absolute;
    top: 50px;
    left: 5%;
    max-height: 90%;
    width: 400px;

    .search-bar {
        font-size: 16px;
        padding: 10px 10px 10px 30px;
        width: 100%;
        border: none;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        &:focus-visible {
            outline: none;
        }
    }

    .search-icon {
        position: absolute;
        top: 22px;
        left: 10px;
        transform: translateY(-50%);
    }

    .search-results {
        background-color: #fff;
        border-radius: 0 0 5px 5px;
        padding: 10px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                padding: 0.5em;

                &:hover {
                    background-color: #f3f4f6;
                    cursor: pointer;
                }
            }
        }

    }


}


.dropdown-select {

    width: 100%;


    button {
        border: 1px solid #f3f4f6;
        font-size: 14px !important;
        width: 100%;

        text-align: left;

        &::after {
            display: none;
        }
    }
}

.dashboard-section {
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 1.5em;
}

.dashboard-stat-number {
    font-size: 32px;
}

.story-card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.story-card-image {
    width: 100%;
    height: 150px;
    background-size: cover;
}

.story-card-content {
    padding: 1em;
    
    p {
        font-size: 12px;
    }

    h2 {
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: 700;
    }
}

.chart-legend {
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;
    font-size: 14px;
  }
  
  .chart-legend-item {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }
  
  .chart-legend-bar {
    width: 20px;
    height: 10px;
    background-color: rgba(66, 133, 244, 0.3);
  }
  
  .chart-legend-line {
    width: 20px;
    height: 2px;
    background-color: #4285f4;
  }


h1,
h2,
h3,
h4 {
    font-weight: 500;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

table th {
    font-weight: 500;
}


.page-content-xl {
    margin-top: 130px;
}